*{
    margin:0;
    padding:0;
}
body{
    background-color: #68cdd5;
}
.zuojiantou{
    width: 3rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.logokuang{
    text-align: center;
    margin-top: 2.5rem;
}
.logo{
    width: 10em;
}
.wenben{
    width:80%;          /*盒子总宽度*/
    height: 80px;       /*定义总高度*/
    padding: 15px;
    margin: 0 auto;     /*盒子文本框居中*/
    text-align: center; /*文本居中*/
}
.word{
    text-align: left;   /*文本左对齐*/
    display: inline-block;/*宽度根据文字的宽度伸缩*/
    color:#fff;
}
.zuotu{
    width: 4rem;
    float: left;
    margin-left: 40px;
    margin-top: 80px;
}
.youtu{
    width: 4rem;
    float: right;
    margin-right: 40px;
    margin-top: 80px;
}